torch
torchvision
torchaudio
transformers
datasets
numpy
scikit-learn
peft
bitsandbytes
accelerate
scipy
pandas
huggingface_hub
einops
sentencepiece
protobuf>=3.19.6,<4.24
trl 
sentence-transformers 
rouge_score 
bert_score
google-generativeai
tiktoken
pytest
openpyxl
nltk
sacrebleu